/* Barra de navegacion */
.navbar {
    padding: 2rem;
    background-color: aquamarine;
}
.navbar-collapse {
    align-items:center ;
    justify-content: space-between;
}
/* media query: dice que se debe aplicar solo a cierto tamaño de dispostivo*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }    
}